<html>
<head>
	<title>Benard's blog</title>
</head>
<body>
	<div>
		<h1><a href="">Benard's blog</h1>
	</div>
	<div>
		<p>published: 07.03.2017, 12:45</p>
		<h2><a href="">my first post</h2>
		<p>am not a motivational speaker neither am i old but i know a few things about life</p>
	</div>
	<div>
		<p>published: 07.06.2017, 03:00</p>
		<h2><a href="">my second post</h2>
		<p>life is painful,hurtful and in life getting second chances is hard but we all wish for a second chance.</p>
	</div>>

</body>
</html>